In [150]:
!pip install seaborn
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

Requirement already satisfied: seaborn in c:\users\nayani tharushika\appdata\local\programs\python\python312\lib\site-packages (0.13.2)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in c:\users\nayani tharushika\appdata\local\programs\python\python312\lib\site-packages (from seaborn) (1.26.4)
Requirement already satisfied: pandas>=1.2 in c:\users\nayani tharushika\appdata\local\programs\python\python312\lib\site-packages (from seaborn) (2.2.2)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in c:\users\nayani tharushika\appdata\local\programs\python\python312\lib\site-packages (from seaborn) (3.9.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\nayani tharushika\appdata\local\programs\python\python312\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.2.1)
Requirement already satisfied: cycler>=0.10 in c:\users\nayani tharushika\appdata\local\programs\python\python312\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\nayani tharushika\appdata\local\programs\python\python312\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.51.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\nayani tharushika\appdata\local\programs\python\python312\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.5)
Requirement already satisfied: packaging>=20.0 in c:\users\nayani tharushika\appdata\local\programs\python\python312\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (24.0)
Requirement already satisfied: pillow>=8 in c:\users\nayani tharushika\appdata\local\programs\python\python312\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (10.3.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\nayani tharushika\appdata\local\programs\python\python312\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.1.2)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\nayani tharushika\appdata\local\programs\python\python312\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\nayani tharushika\appdata\local\programs\python\python312\lib\site-packages (from pandas>=1.2->seaborn) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\nayani tharushika\appdata\local\programs\python\python312\lib\site-packages (from pandas>=1.2->seaborn) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\nayani tharushika\appdata\local\programs\python\python312\lib\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.16.0)

In [151]:
df=pd.read_csv('CBWDB.csv')
df.head()

,SEC,Age(years),Height(cm),Bgroup,Parity,ANC,Iwt(kg),FWt(kg),IBP_sys,IBP_dias,FBP_sys,FBP_dias,IHb(gm%),FHb(gm%),BS(RBS),Term/Preterm,Sex,BWt(kg),LNH
0,BPL,23.0,146.0,A(+ve),1.0,4.0,34.0,42.0,116.0,78.0,120.0,70.0,10.0,13.2,90.0,T,F,2.7,2.0
1,BPL,25.0,165.0,NIL,1.0,3.0,68.0,71.0,96.0,70.0,110.0,72.0,10.4,11.0,96.0,T,M,2.9,2.0
2,BPL,24.0,155.0,B(+ve),1.0,3.0,49.0,55.0,91.0,52.0,110.0,70.0,11.0,11.6,102.0,T,M,2.4,1.0
3,BPL,19.0,154.0,NIL,1.0,2.0,49.0,50.0,90.0,52.0,100.0,60.0,10.0,10.6,103.0,T,F,2.6,2.0
4,BPL,21.0,150.0,NIL,1.0,4.0,41.0,48.0,100.0,60.0,110.0,70.0,9.0,10.2,99.0,T,F,2.3,1.0

In [152]:
df.drop('SEC', axis=1, inplace=True)

In [153]:
df.head()

,Age(years),Height(cm),Bgroup,Parity,ANC,Iwt(kg),FWt(kg),IBP_sys,IBP_dias,FBP_sys,FBP_dias,IHb(gm%),FHb(gm%),BS(RBS),Term/Preterm,Sex,BWt(kg),LNH
0,23.0,146.0,A(+ve),1.0,4.0,34.0,42.0,116.0,78.0,120.0,70.0,10.0,13.2,90.0,T,F,2.7,2.0
1,25.0,165.0,NIL,1.0,3.0,68.0,71.0,96.0,70.0,110.0,72.0,10.4,11.0,96.0,T,M,2.9,2.0
2,24.0,155.0,B(+ve),1.0,3.0,49.0,55.0,91.0,52.0,110.0,70.0,11.0,11.6,102.0,T,M,2.4,1.0
3,19.0,154.0,NIL,1.0,2.0,49.0,50.0,90.0,52.0,100.0,60.0,10.0,10.6,103.0,T,F,2.6,2.0
4,21.0,150.0,NIL,1.0,4.0,41.0,48.0,100.0,60.0,110.0,70.0,9.0,10.2,99.0,T,F,2.3,1.0

In [154]:
df.drop('Sex', axis=1, inplace=True)
df.head()

,Age(years),Height(cm),Bgroup,Parity,ANC,Iwt(kg),FWt(kg),IBP_sys,IBP_dias,FBP_sys,FBP_dias,IHb(gm%),FHb(gm%),BS(RBS),Term/Preterm,BWt(kg),LNH
0,23.0,146.0,A(+ve),1.0,4.0,34.0,42.0,116.0,78.0,120.0,70.0,10.0,13.2,90.0,T,2.7,2.0
1,25.0,165.0,NIL,1.0,3.0,68.0,71.0,96.0,70.0,110.0,72.0,10.4,11.0,96.0,T,2.9,2.0
2,24.0,155.0,B(+ve),1.0,3.0,49.0,55.0,91.0,52.0,110.0,70.0,11.0,11.6,102.0,T,2.4,1.0
3,19.0,154.0,NIL,1.0,2.0,49.0,50.0,90.0,52.0,100.0,60.0,10.0,10.6,103.0,T,2.6,2.0
4,21.0,150.0,NIL,1.0,4.0,41.0,48.0,100.0,60.0,110.0,70.0,9.0,10.2,99.0,T,2.3,1.0

In [155]:
df.isnull().sum()

Age(years)        14
Height(cm)       273
Bgroup          1002
Parity            33
ANC               19
Iwt(kg)           49
FWt(kg)           61
IBP_sys           40
IBP_dias          40
FBP_sys           51
FBP_dias          52
IHb(gm%)         405
FHb(gm%)         407
BS(RBS)         1192
Term/Preterm     838
BWt(kg)          728
LNH              728
dtype: int64

In [156]:
df.dtypes

Age(years)      float64
Height(cm)      float64
Bgroup           object
Parity          float64
ANC             float64
Iwt(kg)         float64
FWt(kg)         float64
IBP_sys         float64
IBP_dias        float64
FBP_sys         float64
FBP_dias        float64
IHb(gm%)        float64
FHb(gm%)        float64
BS(RBS)         float64
Term/Preterm     object
BWt(kg)         float64
LNH             float64
dtype: object

In [157]:
df["Bgroup"].value_counts()

Bgroup
NIL        230
B(+ve)     197
A(+ve)     132
O(+VE)      82
O(+ve)      76
AB(+ve)     66
B(+VE)       5
A(+VE)       3
B(-ve)       2
O(-ve)       2
B+(+ve)      1
A(-ve)       1
AB(-ve)      1
Name: count, dtype: int64

In [158]:
df.replace(" ", np.nan, inplace=True)
df

,Age(years),Height(cm),Bgroup,Parity,ANC,Iwt(kg),FWt(kg),IBP_sys,IBP_dias,FBP_sys,FBP_dias,IHb(gm%),FHb(gm%),BS(RBS),Term/Preterm,BWt(kg),LNH
0,23.0,146.0,A(+ve),1.0,4.0,34.0,42.0,116.0,78.0,120.0,70.0,10.0,13.2,90.0,T,2.7,2.0
1,25.0,165.0,NIL,1.0,3.0,68.0,71.0,96.0,70.0,110.0,72.0,10.4,11.0,96.0,T,2.9,2.0
2,24.0,155.0,B(+ve),1.0,3.0,49.0,55.0,91.0,52.0,110.0,70.0,11.0,11.6,102.0,T,2.4,1.0
3,19.0,154.0,NIL,1.0,2.0,49.0,50.0,90.0,52.0,100.0,60.0,10.0,10.6,103.0,T,2.6,2.0
4,21.0,150.0,NIL,1.0,4.0,41.0,48.0,100.0,60.0,110.0,70.0,9.0,10.2,99.0,T,2.3,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1795,26.0,NaN,NaN,0.0,3.0,39.0,40.0,110.0,78.0,112.0,80.0,NaN,NaN,NaN,NaN,NaN,NaN
1796,22.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1797,24.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1798,24.0,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1799,23.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [161]:
df['Bgroup'] = df['Bgroup'].fillna('NIL')
df

,Age(years),Height(cm),Bgroup,Parity,ANC,Iwt(kg),FWt(kg),IBP_sys,IBP_dias,FBP_sys,FBP_dias,IHb(gm%),FHb(gm%),BS(RBS),Term/Preterm,BWt(kg),LNH
0,23.0,146.0,A(+ve),1.0,4.0,34.0,42.0,116.0,78.0,120.0,70.0,10.0,13.2,90.0,T,2.7,2.0
1,25.0,165.0,NIL,1.0,3.0,68.0,71.0,96.0,70.0,110.0,72.0,10.4,11.0,96.0,T,2.9,2.0
2,24.0,155.0,B(+ve),1.0,3.0,49.0,55.0,91.0,52.0,110.0,70.0,11.0,11.6,102.0,T,2.4,1.0
3,19.0,154.0,NIL,1.0,2.0,49.0,50.0,90.0,52.0,100.0,60.0,10.0,10.6,103.0,T,2.6,2.0
4,21.0,150.0,NIL,1.0,4.0,41.0,48.0,100.0,60.0,110.0,70.0,9.0,10.2,99.0,T,2.3,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1795,26.0,NaN,NIL,0.0,3.0,39.0,40.0,110.0,78.0,112.0,80.0,NaN,NaN,NaN,NaN,NaN,NaN
1796,22.0,NaN,NIL,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1797,24.0,NaN,NIL,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1798,24.0,NaN,NIL,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1799,23.0,NaN,NIL,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [162]:
df['Bgroup'] = df['Bgroup'].str.replace('B+(+ve)', 'B(+ve)')
df['Bgroup'] = df['Bgroup'].str.replace('O(+VE)', 'O(+ve)')
df['Bgroup'] = df['Bgroup'].str.replace('B(+VE)', 'B(+ve)')
df['Bgroup'] = df['Bgroup'].str.replace('A(+VE)', 'A(+ve)')
df

,Age(years),Height(cm),Bgroup,Parity,ANC,Iwt(kg),FWt(kg),IBP_sys,IBP_dias,FBP_sys,FBP_dias,IHb(gm%),FHb(gm%),BS(RBS),Term/Preterm,BWt(kg),LNH
0,23.0,146.0,A(+ve),1.0,4.0,34.0,42.0,116.0,78.0,120.0,70.0,10.0,13.2,90.0,T,2.7,2.0
1,25.0,165.0,NIL,1.0,3.0,68.0,71.0,96.0,70.0,110.0,72.0,10.4,11.0,96.0,T,2.9,2.0
2,24.0,155.0,B(+ve),1.0,3.0,49.0,55.0,91.0,52.0,110.0,70.0,11.0,11.6,102.0,T,2.4,1.0
3,19.0,154.0,NIL,1.0,2.0,49.0,50.0,90.0,52.0,100.0,60.0,10.0,10.6,103.0,T,2.6,2.0
4,21.0,150.0,NIL,1.0,4.0,41.0,48.0,100.0,60.0,110.0,70.0,9.0,10.2,99.0,T,2.3,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1795,26.0,NaN,NIL,0.0,3.0,39.0,40.0,110.0,78.0,112.0,80.0,NaN,NaN,NaN,NaN,NaN,NaN
1796,22.0,NaN,NIL,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1797,24.0,NaN,NIL,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1798,24.0,NaN,NIL,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1799,23.0,NaN,NIL,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [163]:
df["Bgroup"].value_counts()

Bgroup
NIL        1232
B(+ve)      203
O(+ve)      158
A(+ve)      135
AB(+ve)      66
B(-ve)        2
O(-ve)        2
A(-ve)        1
AB(-ve)       1
Name: count, dtype: int64

In [164]:
df["Term/Preterm"].value_counts()

Term/Preterm
T     890
PT     71
t       1
Name: count, dtype: int64

In [165]:
df['Term/Preterm'] = df['Term/Preterm'].str.replace('t', 'T')
df

,Age(years),Height(cm),Bgroup,Parity,ANC,Iwt(kg),FWt(kg),IBP_sys,IBP_dias,FBP_sys,FBP_dias,IHb(gm%),FHb(gm%),BS(RBS),Term/Preterm,BWt(kg),LNH
0,23.0,146.0,A(+ve),1.0,4.0,34.0,42.0,116.0,78.0,120.0,70.0,10.0,13.2,90.0,T,2.7,2.0
1,25.0,165.0,NIL,1.0,3.0,68.0,71.0,96.0,70.0,110.0,72.0,10.4,11.0,96.0,T,2.9,2.0
2,24.0,155.0,B(+ve),1.0,3.0,49.0,55.0,91.0,52.0,110.0,70.0,11.0,11.6,102.0,T,2.4,1.0
3,19.0,154.0,NIL,1.0,2.0,49.0,50.0,90.0,52.0,100.0,60.0,10.0,10.6,103.0,T,2.6,2.0
4,21.0,150.0,NIL,1.0,4.0,41.0,48.0,100.0,60.0,110.0,70.0,9.0,10.2,99.0,T,2.3,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1795,26.0,NaN,NIL,0.0,3.0,39.0,40.0,110.0,78.0,112.0,80.0,NaN,NaN,NaN,NaN,NaN,NaN
1796,22.0,NaN,NIL,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1797,24.0,NaN,NIL,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1798,24.0,NaN,NIL,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1799,23.0,NaN,NIL,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [166]:
df["Term/Preterm"].value_counts()

Term/Preterm
T     891
PT     71
Name: count, dtype: int64

In [167]:
df['Term/Preterm'] = df['Term/Preterm'].fillna('T')
df

,Age(years),Height(cm),Bgroup,Parity,ANC,Iwt(kg),FWt(kg),IBP_sys,IBP_dias,FBP_sys,FBP_dias,IHb(gm%),FHb(gm%),BS(RBS),Term/Preterm,BWt(kg),LNH
0,23.0,146.0,A(+ve),1.0,4.0,34.0,42.0,116.0,78.0,120.0,70.0,10.0,13.2,90.0,T,2.7,2.0
1,25.0,165.0,NIL,1.0,3.0,68.0,71.0,96.0,70.0,110.0,72.0,10.4,11.0,96.0,T,2.9,2.0
2,24.0,155.0,B(+ve),1.0,3.0,49.0,55.0,91.0,52.0,110.0,70.0,11.0,11.6,102.0,T,2.4,1.0
3,19.0,154.0,NIL,1.0,2.0,49.0,50.0,90.0,52.0,100.0,60.0,10.0,10.6,103.0,T,2.6,2.0
4,21.0,150.0,NIL,1.0,4.0,41.0,48.0,100.0,60.0,110.0,70.0,9.0,10.2,99.0,T,2.3,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1795,26.0,NaN,NIL,0.0,3.0,39.0,40.0,110.0,78.0,112.0,80.0,NaN,NaN,NaN,T,NaN,NaN
1796,22.0,NaN,NIL,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,T,NaN,NaN
1797,24.0,NaN,NIL,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,T,NaN,NaN
1798,24.0,NaN,NIL,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,T,NaN,NaN
1799,23.0,NaN,NIL,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,T,NaN,NaN

In [168]:
df.isnull().sum()

Age(years)        14
Height(cm)       273
Bgroup             0
Parity            33
ANC               19
Iwt(kg)           49
FWt(kg)           61
IBP_sys           40
IBP_dias          40
FBP_sys           51
FBP_dias          52
IHb(gm%)         405
FHb(gm%)         407
BS(RBS)         1192
Term/Preterm       0
BWt(kg)          728
LNH              728
dtype: int64

In [169]:
mean_age = df['Age(years)'].mean()
df["Age(years)"].replace(np.nan,mean_age,inplace=True)
df

C:\Users\Nayani Tharushika\AppData\Local\Temp\ipykernel_9380\1120106094.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Age(years)"].replace(np.nan,mean_age,inplace=True)

,Age(years),Height(cm),Bgroup,Parity,ANC,Iwt(kg),FWt(kg),IBP_sys,IBP_dias,FBP_sys,FBP_dias,IHb(gm%),FHb(gm%),BS(RBS),Term/Preterm,BWt(kg),LNH
0,23.0,146.0,A(+ve),1.0,4.0,34.0,42.0,116.0,78.0,120.0,70.0,10.0,13.2,90.0,T,2.7,2.0
1,25.0,165.0,NIL,1.0,3.0,68.0,71.0,96.0,70.0,110.0,72.0,10.4,11.0,96.0,T,2.9,2.0
2,24.0,155.0,B(+ve),1.0,3.0,49.0,55.0,91.0,52.0,110.0,70.0,11.0,11.6,102.0,T,2.4,1.0
3,19.0,154.0,NIL,1.0,2.0,49.0,50.0,90.0,52.0,100.0,60.0,10.0,10.6,103.0,T,2.6,2.0
4,21.0,150.0,NIL,1.0,4.0,41.0,48.0,100.0,60.0,110.0,70.0,9.0,10.2,99.0,T,2.3,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1795,26.0,NaN,NIL,0.0,3.0,39.0,40.0,110.0,78.0,112.0,80.0,NaN,NaN,NaN,T,NaN,NaN
1796,22.0,NaN,NIL,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,T,NaN,NaN
1797,24.0,NaN,NIL,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,T,NaN,NaN
1798,24.0,NaN,NIL,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,T,NaN,NaN
1799,23.0,NaN,NIL,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,T,NaN,NaN

In [170]:
df.isnull().sum()

Age(years)         0
Height(cm)       273
Bgroup             0
Parity            33
ANC               19
Iwt(kg)           49
FWt(kg)           61
IBP_sys           40
IBP_dias          40
FBP_sys           51
FBP_dias          52
IHb(gm%)         405
FHb(gm%)         407
BS(RBS)         1192
Term/Preterm       0
BWt(kg)          728
LNH              728
dtype: int64

In [171]:
mean_height = df['Height(cm)'].mean()
df["Height(cm)"].replace(np.nan,mean_height,inplace=True)
df

C:\Users\Nayani Tharushika\AppData\Local\Temp\ipykernel_9380\251299450.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Height(cm)"].replace(np.nan,mean_height,inplace=True)

,Age(years),Height(cm),Bgroup,Parity,ANC,Iwt(kg),FWt(kg),IBP_sys,IBP_dias,FBP_sys,FBP_dias,IHb(gm%),FHb(gm%),BS(RBS),Term/Preterm,BWt(kg),LNH
0,23.0,146.000000,A(+ve),1.0,4.0,34.0,42.0,116.0,78.0,120.0,70.0,10.0,13.2,90.0,T,2.7,2.0
1,25.0,165.000000,NIL,1.0,3.0,68.0,71.0,96.0,70.0,110.0,72.0,10.4,11.0,96.0,T,2.9,2.0
2,24.0,155.000000,B(+ve),1.0,3.0,49.0,55.0,91.0,52.0,110.0,70.0,11.0,11.6,102.0,T,2.4,1.0
3,19.0,154.000000,NIL,1.0,2.0,49.0,50.0,90.0,52.0,100.0,60.0,10.0,10.6,103.0,T,2.6,2.0
4,21.0,150.000000,NIL,1.0,4.0,41.0,48.0,100.0,60.0,110.0,70.0,9.0,10.2,99.0,T,2.3,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1795,26.0,143.785855,NIL,0.0,3.0,39.0,40.0,110.0,78.0,112.0,80.0,NaN,NaN,NaN,T,NaN,NaN
1796,22.0,143.785855,NIL,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,T,NaN,NaN
1797,24.0,143.785855,NIL,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,T,NaN,NaN
1798,24.0,143.785855,NIL,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,T,NaN,NaN
1799,23.0,143.785855,NIL,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,T,NaN,NaN

In [172]:
df["Parity"].value_counts()

Parity
0.0    1067
1.0     366
2.0     225
3.0      84
4.0      18
6.0       4
5.0       3
Name: count, dtype: int64

In [173]:
df['Parity'] = df['Parity'].fillna(0.0)
df

,Age(years),Height(cm),Bgroup,Parity,ANC,Iwt(kg),FWt(kg),IBP_sys,IBP_dias,FBP_sys,FBP_dias,IHb(gm%),FHb(gm%),BS(RBS),Term/Preterm,BWt(kg),LNH
0,23.0,146.000000,A(+ve),1.0,4.0,34.0,42.0,116.0,78.0,120.0,70.0,10.0,13.2,90.0,T,2.7,2.0
1,25.0,165.000000,NIL,1.0,3.0,68.0,71.0,96.0,70.0,110.0,72.0,10.4,11.0,96.0,T,2.9,2.0
2,24.0,155.000000,B(+ve),1.0,3.0,49.0,55.0,91.0,52.0,110.0,70.0,11.0,11.6,102.0,T,2.4,1.0
3,19.0,154.000000,NIL,1.0,2.0,49.0,50.0,90.0,52.0,100.0,60.0,10.0,10.6,103.0,T,2.6,2.0
4,21.0,150.000000,NIL,1.0,4.0,41.0,48.0,100.0,60.0,110.0,70.0,9.0,10.2,99.0,T,2.3,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1795,26.0,143.785855,NIL,0.0,3.0,39.0,40.0,110.0,78.0,112.0,80.0,NaN,NaN,NaN,T,NaN,NaN
1796,22.0,143.785855,NIL,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,T,NaN,NaN
1797,24.0,143.785855,NIL,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,T,NaN,NaN
1798,24.0,143.785855,NIL,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,T,NaN,NaN
1799,23.0,143.785855,NIL,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,T,NaN,NaN

In [174]:
df["Parity"].value_counts()

Parity
0.0    1100
1.0     366
2.0     225
3.0      84
4.0      18
6.0       4
5.0       3
Name: count, dtype: int64

In [175]:
df["ANC"].value_counts()

ANC
4.0    1130
3.0     385
2.0     156
1.0     110
Name: count, dtype: int64

In [176]:
df['ANC'] = df['ANC'].fillna(4.0)
df

,Age(years),Height(cm),Bgroup,Parity,ANC,Iwt(kg),FWt(kg),IBP_sys,IBP_dias,FBP_sys,FBP_dias,IHb(gm%),FHb(gm%),BS(RBS),Term/Preterm,BWt(kg),LNH
0,23.0,146.000000,A(+ve),1.0,4.0,34.0,42.0,116.0,78.0,120.0,70.0,10.0,13.2,90.0,T,2.7,2.0
1,25.0,165.000000,NIL,1.0,3.0,68.0,71.0,96.0,70.0,110.0,72.0,10.4,11.0,96.0,T,2.9,2.0
2,24.0,155.000000,B(+ve),1.0,3.0,49.0,55.0,91.0,52.0,110.0,70.0,11.0,11.6,102.0,T,2.4,1.0
3,19.0,154.000000,NIL,1.0,2.0,49.0,50.0,90.0,52.0,100.0,60.0,10.0,10.6,103.0,T,2.6,2.0
4,21.0,150.000000,NIL,1.0,4.0,41.0,48.0,100.0,60.0,110.0,70.0,9.0,10.2,99.0,T,2.3,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1795,26.0,143.785855,NIL,0.0,3.0,39.0,40.0,110.0,78.0,112.0,80.0,NaN,NaN,NaN,T,NaN,NaN
1796,22.0,143.785855,NIL,0.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,T,NaN,NaN
1797,24.0,143.785855,NIL,1.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,T,NaN,NaN
1798,24.0,143.785855,NIL,2.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,T,NaN,NaN
1799,23.0,143.785855,NIL,1.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,T,NaN,NaN

In [177]:
df.dtypes

Age(years)      float64
Height(cm)      float64
Bgroup           object
Parity          float64
ANC             float64
Iwt(kg)         float64
FWt(kg)         float64
IBP_sys         float64
IBP_dias        float64
FBP_sys         float64
FBP_dias        float64
IHb(gm%)        float64
FHb(gm%)        float64
BS(RBS)         float64
Term/Preterm     object
BWt(kg)         float64
LNH             float64
dtype: object

In [178]:
mean_lwt = df['Iwt(kg)'].mean()
df["Iwt(kg)"].replace(np.nan,mean_lwt,inplace=True)
df

C:\Users\Nayani Tharushika\AppData\Local\Temp\ipykernel_9380\2985489959.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Iwt(kg)"].replace(np.nan,mean_lwt,inplace=True)

,Age(years),Height(cm),Bgroup,Parity,ANC,Iwt(kg),FWt(kg),IBP_sys,IBP_dias,FBP_sys,FBP_dias,IHb(gm%),FHb(gm%),BS(RBS),Term/Preterm,BWt(kg),LNH
0,23.0,146.000000,A(+ve),1.0,4.0,34.000000,42.0,116.0,78.0,120.0,70.0,10.0,13.2,90.0,T,2.7,2.0
1,25.0,165.000000,NIL,1.0,3.0,68.000000,71.0,96.0,70.0,110.0,72.0,10.4,11.0,96.0,T,2.9,2.0
2,24.0,155.000000,B(+ve),1.0,3.0,49.000000,55.0,91.0,52.0,110.0,70.0,11.0,11.6,102.0,T,2.4,1.0
3,19.0,154.000000,NIL,1.0,2.0,49.000000,50.0,90.0,52.0,100.0,60.0,10.0,10.6,103.0,T,2.6,2.0
4,21.0,150.000000,NIL,1.0,4.0,41.000000,48.0,100.0,60.0,110.0,70.0,9.0,10.2,99.0,T,2.3,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1795,26.0,143.785855,NIL,0.0,3.0,39.000000,40.0,110.0,78.0,112.0,80.0,NaN,NaN,NaN,T,NaN,NaN
1796,22.0,143.785855,NIL,0.0,4.0,45.749857,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,T,NaN,NaN
1797,24.0,143.785855,NIL,1.0,4.0,45.749857,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,T,NaN,NaN
1798,24.0,143.785855,NIL,2.0,4.0,45.749857,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,T,NaN,NaN
1799,23.0,143.785855,NIL,1.0,4.0,45.749857,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,T,NaN,NaN

In [179]:
mean_fwt = df['FWt(kg)'].mean()
df["FWt(kg)"].replace(np.nan,mean_fwt,inplace=True)
df

C:\Users\Nayani Tharushika\AppData\Local\Temp\ipykernel_9380\2692193307.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["FWt(kg)"].replace(np.nan,mean_fwt,inplace=True)

,Age(years),Height(cm),Bgroup,Parity,ANC,Iwt(kg),FWt(kg),IBP_sys,IBP_dias,FBP_sys,FBP_dias,IHb(gm%),FHb(gm%),BS(RBS),Term/Preterm,BWt(kg),LNH
0,23.0,146.000000,A(+ve),1.0,4.0,34.000000,42.000000,116.0,78.0,120.0,70.0,10.0,13.2,90.0,T,2.7,2.0
1,25.0,165.000000,NIL,1.0,3.0,68.000000,71.000000,96.0,70.0,110.0,72.0,10.4,11.0,96.0,T,2.9,2.0
2,24.0,155.000000,B(+ve),1.0,3.0,49.000000,55.000000,91.0,52.0,110.0,70.0,11.0,11.6,102.0,T,2.4,1.0
3,19.0,154.000000,NIL,1.0,2.0,49.000000,50.000000,90.0,52.0,100.0,60.0,10.0,10.6,103.0,T,2.6,2.0
4,21.0,150.000000,NIL,1.0,4.0,41.000000,48.000000,100.0,60.0,110.0,70.0,9.0,10.2,99.0,T,2.3,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1795,26.0,143.785855,NIL,0.0,3.0,39.000000,40.000000,110.0,78.0,112.0,80.0,NaN,NaN,NaN,T,NaN,NaN
1796,22.0,143.785855,NIL,0.0,4.0,45.749857,51.645371,NaN,NaN,NaN,NaN,NaN,NaN,NaN,T,NaN,NaN
1797,24.0,143.785855,NIL,1.0,4.0,45.749857,51.645371,NaN,NaN,NaN,NaN,NaN,NaN,NaN,T,NaN,NaN
1798,24.0,143.785855,NIL,2.0,4.0,45.749857,51.645371,NaN,NaN,NaN,NaN,NaN,NaN,NaN,T,NaN,NaN
1799,23.0,143.785855,NIL,1.0,4.0,45.749857,51.645371,NaN,NaN,NaN,NaN,NaN,NaN,NaN,T,NaN,NaN

In [180]:
mean_ibpsys = df['IBP_sys'].mean()
df["IBP_sys"].replace(np.nan,mean_ibpsys,inplace=True)
df

C:\Users\Nayani Tharushika\AppData\Local\Temp\ipykernel_9380\829258887.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["IBP_sys"].replace(np.nan,mean_ibpsys,inplace=True)

,Age(years),Height(cm),Bgroup,Parity,ANC,Iwt(kg),FWt(kg),IBP_sys,IBP_dias,FBP_sys,FBP_dias,IHb(gm%),FHb(gm%),BS(RBS),Term/Preterm,BWt(kg),LNH
0,23.0,146.000000,A(+ve),1.0,4.0,34.000000,42.000000,116.000000,78.0,120.0,70.0,10.0,13.2,90.0,T,2.7,2.0
1,25.0,165.000000,NIL,1.0,3.0,68.000000,71.000000,96.000000,70.0,110.0,72.0,10.4,11.0,96.0,T,2.9,2.0
2,24.0,155.000000,B(+ve),1.0,3.0,49.000000,55.000000,91.000000,52.0,110.0,70.0,11.0,11.6,102.0,T,2.4,1.0
3,19.0,154.000000,NIL,1.0,2.0,49.000000,50.000000,90.000000,52.0,100.0,60.0,10.0,10.6,103.0,T,2.6,2.0
4,21.0,150.000000,NIL,1.0,4.0,41.000000,48.000000,100.000000,60.0,110.0,70.0,9.0,10.2,99.0,T,2.3,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1795,26.0,143.785855,NIL,0.0,3.0,39.000000,40.000000,110.000000,78.0,112.0,80.0,NaN,NaN,NaN,T,NaN,NaN
1796,22.0,143.785855,NIL,0.0,4.0,45.749857,51.645371,108.032386,NaN,NaN,NaN,NaN,NaN,NaN,T,NaN,NaN
1797,24.0,143.785855,NIL,1.0,4.0,45.749857,51.645371,108.032386,NaN,NaN,NaN,NaN,NaN,NaN,T,NaN,NaN
1798,24.0,143.785855,NIL,2.0,4.0,45.749857,51.645371,108.032386,NaN,NaN,NaN,NaN,NaN,NaN,T,NaN,NaN
1799,23.0,143.785855,NIL,1.0,4.0,45.749857,51.645371,108.032386,NaN,NaN,NaN,NaN,NaN,NaN,T,NaN,NaN

In [181]:
mean_ibpdias = df['IBP_dias'].mean()
df["IBP_dias"].replace(np.nan,mean_ibpdias,inplace=True)
df

C:\Users\Nayani Tharushika\AppData\Local\Temp\ipykernel_9380\2622622317.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["IBP_dias"].replace(np.nan,mean_ibpdias,inplace=True)

,Age(years),Height(cm),Bgroup,Parity,ANC,Iwt(kg),FWt(kg),IBP_sys,IBP_dias,FBP_sys,FBP_dias,IHb(gm%),FHb(gm%),BS(RBS),Term/Preterm,BWt(kg),LNH
0,23.0,146.000000,A(+ve),1.0,4.0,34.000000,42.000000,116.000000,78.000000,120.0,70.0,10.0,13.2,90.0,T,2.7,2.0
1,25.0,165.000000,NIL,1.0,3.0,68.000000,71.000000,96.000000,70.000000,110.0,72.0,10.4,11.0,96.0,T,2.9,2.0
2,24.0,155.000000,B(+ve),1.0,3.0,49.000000,55.000000,91.000000,52.000000,110.0,70.0,11.0,11.6,102.0,T,2.4,1.0
3,19.0,154.000000,NIL,1.0,2.0,49.000000,50.000000,90.000000,52.000000,100.0,60.0,10.0,10.6,103.0,T,2.6,2.0
4,21.0,150.000000,NIL,1.0,4.0,41.000000,48.000000,100.000000,60.000000,110.0,70.0,9.0,10.2,99.0,T,2.3,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1795,26.0,143.785855,NIL,0.0,3.0,39.000000,40.000000,110.000000,78.000000,112.0,80.0,NaN,NaN,NaN,T,NaN,NaN
1796,22.0,143.785855,NIL,0.0,4.0,45.749857,51.645371,108.032386,66.091477,NaN,NaN,NaN,NaN,NaN,T,NaN,NaN
1797,24.0,143.785855,NIL,1.0,4.0,45.749857,51.645371,108.032386,66.091477,NaN,NaN,NaN,NaN,NaN,T,NaN,NaN
1798,24.0,143.785855,NIL,2.0,4.0,45.749857,51.645371,108.032386,66.091477,NaN,NaN,NaN,NaN,NaN,T,NaN,NaN
1799,23.0,143.785855,NIL,1.0,4.0,45.749857,51.645371,108.032386,66.091477,NaN,NaN,NaN,NaN,NaN,T,NaN,NaN

In [182]:
mean_fbpsys = df['FBP_sys'].mean()
df["FBP_sys"].replace(np.nan,mean_fbpsys,inplace=True)
df

C:\Users\Nayani Tharushika\AppData\Local\Temp\ipykernel_9380\1998214701.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["FBP_sys"].replace(np.nan,mean_fbpsys,inplace=True)

,Age(years),Height(cm),Bgroup,Parity,ANC,Iwt(kg),FWt(kg),IBP_sys,IBP_dias,FBP_sys,FBP_dias,IHb(gm%),FHb(gm%),BS(RBS),Term/Preterm,BWt(kg),LNH
0,23.0,146.000000,A(+ve),1.0,4.0,34.000000,42.000000,116.000000,78.000000,120.000000,70.0,10.0,13.2,90.0,T,2.7,2.0
1,25.0,165.000000,NIL,1.0,3.0,68.000000,71.000000,96.000000,70.000000,110.000000,72.0,10.4,11.0,96.0,T,2.9,2.0
2,24.0,155.000000,B(+ve),1.0,3.0,49.000000,55.000000,91.000000,52.000000,110.000000,70.0,11.0,11.6,102.0,T,2.4,1.0
3,19.0,154.000000,NIL,1.0,2.0,49.000000,50.000000,90.000000,52.000000,100.000000,60.0,10.0,10.6,103.0,T,2.6,2.0
4,21.0,150.000000,NIL,1.0,4.0,41.000000,48.000000,100.000000,60.000000,110.000000,70.0,9.0,10.2,99.0,T,2.3,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1795,26.0,143.785855,NIL,0.0,3.0,39.000000,40.000000,110.000000,78.000000,112.000000,80.0,NaN,NaN,NaN,T,NaN,NaN
1796,22.0,143.785855,NIL,0.0,4.0,45.749857,51.645371,108.032386,66.091477,111.819325,NaN,NaN,NaN,NaN,T,NaN,NaN
1797,24.0,143.785855,NIL,1.0,4.0,45.749857,51.645371,108.032386,66.091477,111.819325,NaN,NaN,NaN,NaN,T,NaN,NaN
1798,24.0,143.785855,NIL,2.0,4.0,45.749857,51.645371,108.032386,66.091477,111.819325,NaN,NaN,NaN,NaN,T,NaN,NaN
1799,23.0,143.785855,NIL,1.0,4.0,45.749857,51.645371,108.032386,66.091477,111.819325,NaN,NaN,NaN,NaN,T,NaN,NaN

In [183]:
mean_fbpdias = df['FBP_dias'].mean()
df["FBP_dias"].replace(np.nan,mean_fbpdias,inplace=True)
df

C:\Users\Nayani Tharushika\AppData\Local\Temp\ipykernel_9380\1379138592.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["FBP_dias"].replace(np.nan,mean_fbpdias,inplace=True)

,Age(years),Height(cm),Bgroup,Parity,ANC,Iwt(kg),FWt(kg),IBP_sys,IBP_dias,FBP_sys,FBP_dias,IHb(gm%),FHb(gm%),BS(RBS),Term/Preterm,BWt(kg),LNH
0,23.0,146.000000,A(+ve),1.0,4.0,34.000000,42.000000,116.000000,78.000000,120.000000,70.000000,10.0,13.2,90.0,T,2.7,2.0
1,25.0,165.000000,NIL,1.0,3.0,68.000000,71.000000,96.000000,70.000000,110.000000,72.000000,10.4,11.0,96.0,T,2.9,2.0
2,24.0,155.000000,B(+ve),1.0,3.0,49.000000,55.000000,91.000000,52.000000,110.000000,70.000000,11.0,11.6,102.0,T,2.4,1.0
3,19.0,154.000000,NIL,1.0,2.0,49.000000,50.000000,90.000000,52.000000,100.000000,60.000000,10.0,10.6,103.0,T,2.6,2.0
4,21.0,150.000000,NIL,1.0,4.0,41.000000,48.000000,100.000000,60.000000,110.000000,70.000000,9.0,10.2,99.0,T,2.3,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1795,26.0,143.785855,NIL,0.0,3.0,39.000000,40.000000,110.000000,78.000000,112.000000,80.000000,NaN,NaN,NaN,T,NaN,NaN
1796,22.0,143.785855,NIL,0.0,4.0,45.749857,51.645371,108.032386,66.091477,111.819325,69.405606,NaN,NaN,NaN,T,NaN,NaN
1797,24.0,143.785855,NIL,1.0,4.0,45.749857,51.645371,108.032386,66.091477,111.819325,69.405606,NaN,NaN,NaN,T,NaN,NaN
1798,24.0,143.785855,NIL,2.0,4.0,45.749857,51.645371,108.032386,66.091477,111.819325,69.405606,NaN,NaN,NaN,T,NaN,NaN
1799,23.0,143.785855,NIL,1.0,4.0,45.749857,51.645371,108.032386,66.091477,111.819325,69.405606,NaN,NaN,NaN,T,NaN,NaN

In [184]:
mean_ihb = df['IHb(gm%)'].mean()
df["IHb(gm%)"].replace(np.nan,mean_ihb,inplace=True)
df

C:\Users\Nayani Tharushika\AppData\Local\Temp\ipykernel_9380\2491624486.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["IHb(gm%)"].replace(np.nan,mean_ihb,inplace=True)

,Age(years),Height(cm),Bgroup,Parity,ANC,Iwt(kg),FWt(kg),IBP_sys,IBP_dias,FBP_sys,FBP_dias,IHb(gm%),FHb(gm%),BS(RBS),Term/Preterm,BWt(kg),LNH
0,23.0,146.000000,A(+ve),1.0,4.0,34.000000,42.000000,116.000000,78.000000,120.000000,70.000000,10.000000,13.2,90.0,T,2.7,2.0
1,25.0,165.000000,NIL,1.0,3.0,68.000000,71.000000,96.000000,70.000000,110.000000,72.000000,10.400000,11.0,96.0,T,2.9,2.0
2,24.0,155.000000,B(+ve),1.0,3.0,49.000000,55.000000,91.000000,52.000000,110.000000,70.000000,11.000000,11.6,102.0,T,2.4,1.0
3,19.0,154.000000,NIL,1.0,2.0,49.000000,50.000000,90.000000,52.000000,100.000000,60.000000,10.000000,10.6,103.0,T,2.6,2.0
4,21.0,150.000000,NIL,1.0,4.0,41.000000,48.000000,100.000000,60.000000,110.000000,70.000000,9.000000,10.2,99.0,T,2.3,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1795,26.0,143.785855,NIL,0.0,3.0,39.000000,40.000000,110.000000,78.000000,112.000000,80.000000,9.919398,NaN,NaN,T,NaN,NaN
1796,22.0,143.785855,NIL,0.0,4.0,45.749857,51.645371,108.032386,66.091477,111.819325,69.405606,9.919398,NaN,NaN,T,NaN,NaN
1797,24.0,143.785855,NIL,1.0,4.0,45.749857,51.645371,108.032386,66.091477,111.819325,69.405606,9.919398,NaN,NaN,T,NaN,NaN
1798,24.0,143.785855,NIL,2.0,4.0,45.749857,51.645371,108.032386,66.091477,111.819325,69.405606,9.919398,NaN,NaN,T,NaN,NaN
1799,23.0,143.785855,NIL,1.0,4.0,45.749857,51.645371,108.032386,66.091477,111.819325,69.405606,9.919398,NaN,NaN,T,NaN,NaN

In [185]:
mean_fhb = df['FHb(gm%)'].mean()
df["FHb(gm%)"].replace(np.nan,mean_fhb,inplace=True)
df

C:\Users\Nayani Tharushika\AppData\Local\Temp\ipykernel_9380\412530588.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["FHb(gm%)"].replace(np.nan,mean_fhb,inplace=True)

,Age(years),Height(cm),Bgroup,Parity,ANC,Iwt(kg),FWt(kg),IBP_sys,IBP_dias,FBP_sys,FBP_dias,IHb(gm%),FHb(gm%),BS(RBS),Term/Preterm,BWt(kg),LNH
0,23.0,146.000000,A(+ve),1.0,4.0,34.000000,42.000000,116.000000,78.000000,120.000000,70.000000,10.000000,13.200000,90.0,T,2.7,2.0
1,25.0,165.000000,NIL,1.0,3.0,68.000000,71.000000,96.000000,70.000000,110.000000,72.000000,10.400000,11.000000,96.0,T,2.9,2.0
2,24.0,155.000000,B(+ve),1.0,3.0,49.000000,55.000000,91.000000,52.000000,110.000000,70.000000,11.000000,11.600000,102.0,T,2.4,1.0
3,19.0,154.000000,NIL,1.0,2.0,49.000000,50.000000,90.000000,52.000000,100.000000,60.000000,10.000000,10.600000,103.0,T,2.6,2.0
4,21.0,150.000000,NIL,1.0,4.0,41.000000,48.000000,100.000000,60.000000,110.000000,70.000000,9.000000,10.200000,99.0,T,2.3,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1795,26.0,143.785855,NIL,0.0,3.0,39.000000,40.000000,110.000000,78.000000,112.000000,80.000000,9.919398,10.401651,NaN,T,NaN,NaN
1796,22.0,143.785855,NIL,0.0,4.0,45.749857,51.645371,108.032386,66.091477,111.819325,69.405606,9.919398,10.401651,NaN,T,NaN,NaN
1797,24.0,143.785855,NIL,1.0,4.0,45.749857,51.645371,108.032386,66.091477,111.819325,69.405606,9.919398,10.401651,NaN,T,NaN,NaN
1798,24.0,143.785855,NIL,2.0,4.0,45.749857,51.645371,108.032386,66.091477,111.819325,69.405606,9.919398,10.401651,NaN,T,NaN,NaN
1799,23.0,143.785855,NIL,1.0,4.0,45.749857,51.645371,108.032386,66.091477,111.819325,69.405606,9.919398,10.401651,NaN,T,NaN,NaN

In [186]:
mean_bs = df['BS(RBS)'].mean()
df["BS(RBS)"].replace(np.nan,mean_bs,inplace=True)
df

C:\Users\Nayani Tharushika\AppData\Local\Temp\ipykernel_9380\4061508486.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["BS(RBS)"].replace(np.nan,mean_bs,inplace=True)

,Age(years),Height(cm),Bgroup,Parity,ANC,Iwt(kg),FWt(kg),IBP_sys,IBP_dias,FBP_sys,FBP_dias,IHb(gm%),FHb(gm%),BS(RBS),Term/Preterm,BWt(kg),LNH
0,23.0,146.000000,A(+ve),1.0,4.0,34.000000,42.000000,116.000000,78.000000,120.000000,70.000000,10.000000,13.200000,90.000000,T,2.7,2.0
1,25.0,165.000000,NIL,1.0,3.0,68.000000,71.000000,96.000000,70.000000,110.000000,72.000000,10.400000,11.000000,96.000000,T,2.9,2.0
2,24.0,155.000000,B(+ve),1.0,3.0,49.000000,55.000000,91.000000,52.000000,110.000000,70.000000,11.000000,11.600000,102.000000,T,2.4,1.0
3,19.0,154.000000,NIL,1.0,2.0,49.000000,50.000000,90.000000,52.000000,100.000000,60.000000,10.000000,10.600000,103.000000,T,2.6,2.0
4,21.0,150.000000,NIL,1.0,4.0,41.000000,48.000000,100.000000,60.000000,110.000000,70.000000,9.000000,10.200000,99.000000,T,2.3,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1795,26.0,143.785855,NIL,0.0,3.0,39.000000,40.000000,110.000000,78.000000,112.000000,80.000000,9.919398,10.401651,100.898026,T,NaN,NaN
1796,22.0,143.785855,NIL,0.0,4.0,45.749857,51.645371,108.032386,66.091477,111.819325,69.405606,9.919398,10.401651,100.898026,T,NaN,NaN
1797,24.0,143.785855,NIL,1.0,4.0,45.749857,51.645371,108.032386,66.091477,111.819325,69.405606,9.919398,10.401651,100.898026,T,NaN,NaN
1798,24.0,143.785855,NIL,2.0,4.0,45.749857,51.645371,108.032386,66.091477,111.819325,69.405606,9.919398,10.401651,100.898026,T,NaN,NaN
1799,23.0,143.785855,NIL,1.0,4.0,45.749857,51.645371,108.032386,66.091477,111.819325,69.405606,9.919398,10.401651,100.898026,T,NaN,NaN

In [187]:
mean_bwt = df['BWt(kg)'].mean()
df["BWt(kg)"].replace(np.nan,mean_bwt,inplace=True)
df

C:\Users\Nayani Tharushika\AppData\Local\Temp\ipykernel_9380\569786843.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["BWt(kg)"].replace(np.nan,mean_bwt,inplace=True)

,Age(years),Height(cm),Bgroup,Parity,ANC,Iwt(kg),FWt(kg),IBP_sys,IBP_dias,FBP_sys,FBP_dias,IHb(gm%),FHb(gm%),BS(RBS),Term/Preterm,BWt(kg),LNH
0,23.0,146.000000,A(+ve),1.0,4.0,34.000000,42.000000,116.000000,78.000000,120.000000,70.000000,10.000000,13.200000,90.000000,T,2.70000,2.0
1,25.0,165.000000,NIL,1.0,3.0,68.000000,71.000000,96.000000,70.000000,110.000000,72.000000,10.400000,11.000000,96.000000,T,2.90000,2.0
2,24.0,155.000000,B(+ve),1.0,3.0,49.000000,55.000000,91.000000,52.000000,110.000000,70.000000,11.000000,11.600000,102.000000,T,2.40000,1.0
3,19.0,154.000000,NIL,1.0,2.0,49.000000,50.000000,90.000000,52.000000,100.000000,60.000000,10.000000,10.600000,103.000000,T,2.60000,2.0
4,21.0,150.000000,NIL,1.0,4.0,41.000000,48.000000,100.000000,60.000000,110.000000,70.000000,9.000000,10.200000,99.000000,T,2.30000,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1795,26.0,143.785855,NIL,0.0,3.0,39.000000,40.000000,110.000000,78.000000,112.000000,80.000000,9.919398,10.401651,100.898026,T,2.75958,NaN
1796,22.0,143.785855,NIL,0.0,4.0,45.749857,51.645371,108.032386,66.091477,111.819325,69.405606,9.919398,10.401651,100.898026,T,2.75958,NaN
1797,24.0,143.785855,NIL,1.0,4.0,45.749857,51.645371,108.032386,66.091477,111.819325,69.405606,9.919398,10.401651,100.898026,T,2.75958,NaN
1798,24.0,143.785855,NIL,2.0,4.0,45.749857,51.645371,108.032386,66.091477,111.819325,69.405606,9.919398,10.401651,100.898026,T,2.75958,NaN
1799,23.0,143.785855,NIL,1.0,4.0,45.749857,51.645371,108.032386,66.091477,111.819325,69.405606,9.919398,10.401651,100.898026,T,2.75958,NaN

In [188]:
df["LNH"].value_counts()

LNH
2.0    926
1.0    142
3.0      4
Name: count, dtype: int64

In [189]:
df['LNH'] = df['LNH'].fillna(2.0)
df

,Age(years),Height(cm),Bgroup,Parity,ANC,Iwt(kg),FWt(kg),IBP_sys,IBP_dias,FBP_sys,FBP_dias,IHb(gm%),FHb(gm%),BS(RBS),Term/Preterm,BWt(kg),LNH
0,23.0,146.000000,A(+ve),1.0,4.0,34.000000,42.000000,116.000000,78.000000,120.000000,70.000000,10.000000,13.200000,90.000000,T,2.70000,2.0
1,25.0,165.000000,NIL,1.0,3.0,68.000000,71.000000,96.000000,70.000000,110.000000,72.000000,10.400000,11.000000,96.000000,T,2.90000,2.0
2,24.0,155.000000,B(+ve),1.0,3.0,49.000000,55.000000,91.000000,52.000000,110.000000,70.000000,11.000000,11.600000,102.000000,T,2.40000,1.0
3,19.0,154.000000,NIL,1.0,2.0,49.000000,50.000000,90.000000,52.000000,100.000000,60.000000,10.000000,10.600000,103.000000,T,2.60000,2.0
4,21.0,150.000000,NIL,1.0,4.0,41.000000,48.000000,100.000000,60.000000,110.000000,70.000000,9.000000,10.200000,99.000000,T,2.30000,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1795,26.0,143.785855,NIL,0.0,3.0,39.000000,40.000000,110.000000,78.000000,112.000000,80.000000,9.919398,10.401651,100.898026,T,2.75958,2.0
1796,22.0,143.785855,NIL,0.0,4.0,45.749857,51.645371,108.032386,66.091477,111.819325,69.405606,9.919398,10.401651,100.898026,T,2.75958,2.0
1797,24.0,143.785855,NIL,1.0,4.0,45.749857,51.645371,108.032386,66.091477,111.819325,69.405606,9.919398,10.401651,100.898026,T,2.75958,2.0
1798,24.0,143.785855,NIL,2.0,4.0,45.749857,51.645371,108.032386,66.091477,111.819325,69.405606,9.919398,10.401651,100.898026,T,2.75958,2.0
1799,23.0,143.785855,NIL,1.0,4.0,45.749857,51.645371,108.032386,66.091477,111.819325,69.405606,9.919398,10.401651,100.898026,T,2.75958,2.0

In [190]:
df.isnull().sum()

Age(years)      0
Height(cm)      0
Bgroup          0
Parity          0
ANC             0
Iwt(kg)         0
FWt(kg)         0
IBP_sys         0
IBP_dias        0
FBP_sys         0
FBP_dias        0
IHb(gm%)        0
FHb(gm%)        0
BS(RBS)         0
Term/Preterm    0
BWt(kg)         0
LNH             0
dtype: int64

In [191]:
df.dtypes

Age(years)      float64
Height(cm)      float64
Bgroup           object
Parity          float64
ANC             float64
Iwt(kg)         float64
FWt(kg)         float64
IBP_sys         float64
IBP_dias        float64
FBP_sys         float64
FBP_dias        float64
IHb(gm%)        float64
FHb(gm%)        float64
BS(RBS)         float64
Term/Preterm     object
BWt(kg)         float64
LNH             float64
dtype: object

In [192]:
df.duplicated().sum()

5

In [193]:
df.drop_duplicates(inplace=True)

In [194]:
df.duplicated().sum()

0

In [195]:
df

,Age(years),Height(cm),Bgroup,Parity,ANC,Iwt(kg),FWt(kg),IBP_sys,IBP_dias,FBP_sys,FBP_dias,IHb(gm%),FHb(gm%),BS(RBS),Term/Preterm,BWt(kg),LNH
0,23.0,146.000000,A(+ve),1.0,4.0,34.000000,42.000000,116.000000,78.000000,120.000000,70.000000,10.000000,13.200000,90.000000,T,2.70000,2.0
1,25.0,165.000000,NIL,1.0,3.0,68.000000,71.000000,96.000000,70.000000,110.000000,72.000000,10.400000,11.000000,96.000000,T,2.90000,2.0
2,24.0,155.000000,B(+ve),1.0,3.0,49.000000,55.000000,91.000000,52.000000,110.000000,70.000000,11.000000,11.600000,102.000000,T,2.40000,1.0
3,19.0,154.000000,NIL,1.0,2.0,49.000000,50.000000,90.000000,52.000000,100.000000,60.000000,10.000000,10.600000,103.000000,T,2.60000,2.0
4,21.0,150.000000,NIL,1.0,4.0,41.000000,48.000000,100.000000,60.000000,110.000000,70.000000,9.000000,10.200000,99.000000,T,2.30000,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1795,26.0,143.785855,NIL,0.0,3.0,39.000000,40.000000,110.000000,78.000000,112.000000,80.000000,9.919398,10.401651,100.898026,T,2.75958,2.0
1796,22.0,143.785855,NIL,0.0,4.0,45.749857,51.645371,108.032386,66.091477,111.819325,69.405606,9.919398,10.401651,100.898026,T,2.75958,2.0
1797,24.0,143.785855,NIL,1.0,4.0,45.749857,51.645371,108.032386,66.091477,111.819325,69.405606,9.919398,10.401651,100.898026,T,2.75958,2.0
1798,24.0,143.785855,NIL,2.0,4.0,45.749857,51.645371,108.032386,66.091477,111.819325,69.405606,9.919398,10.401651,100.898026,T,2.75958,2.0
1799,23.0,143.785855,NIL,1.0,4.0,45.749857,51.645371,108.032386,66.091477,111.819325,69.405606,9.919398,10.401651,100.898026,T,2.75958,2.0

In [196]:
col = ['Age(years)','Height(cm)','Parity','ANC','Iwt(kg)','FWt(kg)','IBP_sys','IBP_dias','FBP_sys','FBP_dias','IHb(gm%)','FHb(gm%)','BS(RBS)','LNH','Bgroup','Term/Preterm','BWt(kg)']
df = df[col]
X = df.iloc[:, :-1]
y = df.iloc[:, -1]

In [197]:
df.head(3)

,Age(years),Height(cm),Parity,ANC,Iwt(kg),FWt(kg),IBP_sys,IBP_dias,FBP_sys,FBP_dias,IHb(gm%),FHb(gm%),BS(RBS),LNH,Bgroup,Term/Preterm,BWt(kg)
0,23.0,146.0,1.0,4.0,34.0,42.0,116.0,78.0,120.0,70.0,10.0,13.2,90.0,2.0,A(+ve),T,2.7
1,25.0,165.0,1.0,3.0,68.0,71.0,96.0,70.0,110.0,72.0,10.4,11.0,96.0,2.0,NIL,T,2.9
2,24.0,155.0,1.0,3.0,49.0,55.0,91.0,52.0,110.0,70.0,11.0,11.6,102.0,1.0,B(+ve),T,2.4

In [198]:
pip install --upgrade pip

Requirement already satisfied: pip in c:\users\nayani tharushika\appdata\local\programs\python\python312\lib\site-packages (24.1)
Note: you may need to restart the kernel to use updated packages.

In [199]:
!pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\nayani tharushika\appdata\local\programs\python\python312\lib\site-packages (1.4.1.post1)
Requirement already satisfied: numpy<2.0,>=1.19.5 in c:\users\nayani tharushika\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn) (1.26.4)
Requirement already satisfied: scipy>=1.6.0 in c:\users\nayani tharushika\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn) (1.12.0)
Requirement already satisfied: joblib>=1.2.0 in c:\users\nayani tharushika\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn) (1.3.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\nayani tharushika\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn) (3.3.0)

In [200]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.8, random_state=0, shuffle=True)
X_train

,Age(years),Height(cm),Parity,ANC,Iwt(kg),FWt(kg),IBP_sys,IBP_dias,FBP_sys,FBP_dias,IHb(gm%),FHb(gm%),BS(RBS),LNH,Bgroup,Term/Preterm
829,25.0,150.000000,4.0,3.0,42.000000,50.000000,110.0,60.0,120.0,60.0,9.919398,10.401651,100.898026,2.0,NIL,T
1108,26.0,150.000000,2.0,3.0,40.000000,40.000000,120.0,60.0,120.0,60.0,9.919398,10.401651,100.898026,2.0,NIL,T
940,30.0,180.000000,0.0,3.0,50.000000,55.000000,110.0,60.0,110.0,60.0,9.919398,10.401651,100.898026,2.0,NIL,T
192,18.0,142.000000,0.0,4.0,40.000000,47.000000,110.0,70.0,20.0,80.0,12.000000,11.000000,98.000000,2.0,B(+ve),T
260,28.0,145.000000,0.0,4.0,42.000000,47.000000,110.0,70.0,120.0,70.0,11.500000,12.000000,117.000000,2.0,A(+ve),T
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
835,22.0,150.000000,0.0,3.0,46.000000,50.000000,120.0,60.0,120.0,60.0,9.919398,10.401651,100.898026,2.0,NIL,T
1216,22.0,143.785855,1.0,4.0,45.749857,51.645371,110.0,60.0,110.0,62.0,10.400000,10.000000,100.898026,2.0,NIL,T
1658,28.0,143.785855,2.0,2.0,38.000000,40.000000,100.0,68.0,102.0,70.0,11.000000,11.000000,100.898026,2.0,NIL,T
559,24.0,150.000000,1.0,4.0,47.000000,51.000000,112.0,62.0,122.0,72.0,10.000000,11.000000,100.898026,2.0,NIL,T
684,21.0,120.000000,0.0,4.0,40.000000,65.000000,120.0,60.0,110.0,80.0,10.400000,11.000000,100.898026,2.0,NIL,T

In [201]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler
ohe = OneHotEncoder(drop='first')
scale = StandardScaler()

preprocessor=ColumnTransformer(
    transformers=[
        ('onehotencoder',ohe,[14,15]),
        ('standrization',scale,[0,1,2,3,4,5,6,7,8,9,10,11,12,13])
    ],
    remainder='passthrough'
)

In [202]:
preprocessor

ColumnTransformer(remainder='passthrough',
                  transformers=[('onehotencoder', OneHotEncoder(drop='first'),
                                 [14, 15]),
                                ('standrization', StandardScaler(),
                                 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12,
                                  13])])

In [203]:

df = pd.get_dummies(df)

In [204]:
X_train_dummy = preprocessor.fit_transform(X_train)
X_test_dummy = preprocessor.transform(X_test)

In [205]:
preprocessor.get_feature_names_out(col[:-1])

array(['onehotencoder__Bgroup_A(-ve)', 'onehotencoder__Bgroup_AB(+ve)',
       'onehotencoder__Bgroup_AB(-ve)', 'onehotencoder__Bgroup_B(+ve)',
       'onehotencoder__Bgroup_B(-ve)', 'onehotencoder__Bgroup_NIL',
       'onehotencoder__Bgroup_O(+ve)', 'onehotencoder__Bgroup_O(-ve)',
       'onehotencoder__Term/Preterm_T', 'standrization__Age(years)',
       'standrization__Height(cm)', 'standrization__Parity',
       'standrization__ANC', 'standrization__Iwt(kg)',
       'standrization__FWt(kg)', 'standrization__IBP_sys',
       'standrization__IBP_dias', 'standrization__FBP_sys',
       'standrization__FBP_dias', 'standrization__IHb(gm%)',
       'standrization__FHb(gm%)', 'standrization__BS(RBS)',
       'standrization__LNH'], dtype=object)

In [206]:
#linear regression
from sklearn.linear_model import LinearRegression,Lasso,Ridge
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_absolute_error,r2_score


models = {
    'lr':LinearRegression(),
    'lss':Lasso(),
    'Rid':Ridge(),
    'Dtr':DecisionTreeRegressor()
}
for name, md in models.items():
    md.fit(X_train_dummy,y_train)
    y_pred = md.predict(X_test_dummy)
    
    print(f"{name} : mae : {mean_absolute_error(y_test,y_pred)} score : {r2_score(y_test,y_pred)}")

lr : mae : 0.17510870822930658 score : 0.3647322415904911
lss : mae : 0.18466714350241728 score : -0.0021366122642090257
Rid : mae : 0.17405700884428332 score : 0.37087854850417157
Dtr : mae : 0.23599587369558886 score : -0.3590235133486164

In [219]:
from sklearn.linear_model import LinearRegression,Lasso,Ridge
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_squared_error,r2_score
models = {
    'lr':LinearRegression(),
    'lss':Lasso(),
    'Rid':Ridge(),
    'Knr':KNeighborsRegressor(),
    'Dtr':DecisionTreeRegressor()
}
for name, md in models.items():
    md.fit(X_train_dummy,y_train)
    y_pred = md.predict(X_test_dummy)
    
    print(f"{name} : mae : {mean_squared_error(y_test,y_pred)} Score : {r2_score(y_test,y_pred)}")

lr : mae : 0.06768008905148926 Score : 0.3647322415904911
lss : mae : 0.10676552408327639 Score : -0.0021366122642090257
Rid : mae : 0.06702527445756566 Score : 0.37087854850417157
Knr : mae : 0.07666316106715672 Score : 0.28041414888404115
Dtr : mae : 0.15400136279186555 Score : -0.44550785768573453

In [230]:
rid = Ridge()
rid.fit(X_train_dummy,y_train)
rid.predict(X_test_dummy)

array([2.65770274, 2.82008861, 2.85209957, 2.85061791, 2.92993988,
       2.95843786, 2.95331551, 2.79684226, 2.76049694, 2.73756827,
       2.09020529, 2.76959529, 2.78161941, 2.75937769, 2.84051107,
       2.72968796, 2.73387879, 2.81410579, 2.89860814, 2.76549091,
       2.92234432, 2.05023585, 2.89408702, 2.81333924, 2.75367692,
       2.78601251, 2.758105  , 2.7949881 , 2.95495371, 2.69614691,
       2.70923014, 3.02559515, 2.1012444 , 2.07579788, 2.7614284 ,
       2.11631961, 2.95414699, 2.69338829, 2.98060199, 2.83307802,
       2.81593522, 2.8410719 , 2.76834338, 2.87302883, 2.70549197,
       2.79508836, 2.79090004, 2.73589649, 2.76516735, 2.76708571,
       2.80314645, 2.77824059, 2.75261984, 2.84472722, 2.75424069,
       2.87338421, 2.82855692, 2.76761843, 2.89522846, 2.92300751,
       3.03924715, 2.81989313, 2.91113546, 2.97047082, 2.78662867,
       3.0010657 , 2.10583294, 2.80350083, 3.14261836, 2.81799656,
       2.706698  , 2.74976559, 2.77391384, 2.76522823, 2.66043841,
       2.18270414, 2.88275069, 2.86144759, 2.73131938, 2.91102824,
       2.87673815, 2.78250949, 2.80714119, 2.74644933, 2.88694039,
       2.65596921, 2.84101772, 2.77566866, 2.83856401, 2.84015586,
       2.83563871, 2.87940116, 2.80676996, 2.10234031, 2.86484484,
       2.78841829, 2.90930418, 2.18542568, 2.82503927, 2.74292787,
       2.91028369, 2.79368698, 2.89521522, 2.84407858, 2.68842675,
       2.81624723, 2.81724965, 2.88624785, 2.73079027, 2.72095976,
       2.17407258, 2.13068516, 2.97584439, 2.73073168, 2.99853661,
       2.89356305, 2.84595538, 2.78487426, 2.79431139, 2.77193833,
       2.83634558, 2.7739532 , 2.76835267, 2.93424511, 2.82982725,
       2.79705636, 2.72566043, 2.80688289, 2.77059499, 2.79700924,
       2.90728518, 2.83965344, 2.91954709, 2.84622369, 2.75854846,
       2.14429684, 2.80794962, 2.81562606, 2.82360999, 2.78220115,
       2.87468136, 2.89160743, 2.9546901 , 2.92759016, 2.79847809,
       2.85475536, 2.91126206, 2.75704895, 2.78363558, 2.82994195,
       2.74415011, 2.80992055, 3.02616135, 2.72660333, 2.79231964,
       2.84500501, 2.76931298, 2.80313684, 2.81703559, 2.09760169,
       2.84883471, 2.83835694, 2.7827084 , 2.1529543 , 2.83057147,
       2.79875441, 2.75765642, 2.77946315, 2.81926374, 2.85815845,
       2.72407498, 2.78192489, 2.90954024, 2.82301667, 2.80546639,
       2.8317465 , 2.89911389, 2.83510548, 2.83195424, 2.83208158,
       2.91752401, 2.8527133 , 2.86241451, 2.82665286, 2.66530907,
       2.88760708, 2.71994308, 2.76341653, 2.8044667 , 2.7997169 ,
       2.81184329, 2.90327051, 2.72768436, 2.88610231, 2.81182506,
       2.82762591, 1.96685343, 2.89514066, 2.73454821, 2.84819555,
       2.77090092, 2.77005566, 2.82940875, 2.79445854, 2.79292297,
       2.91891562, 2.78326172, 2.87539973, 2.89761271, 2.88607609,
       2.70874237, 2.040952  , 2.80718393, 2.6979155 , 2.75180541,
       2.7422841 , 2.74960892, 2.91499834, 2.87121893, 3.06375562,
       2.77970268, 2.77191473, 2.05455802, 2.73247093, 2.1972349 ,
       2.98008876, 2.91139822, 2.77741694, 2.77127578, 2.87079414,
       2.15409519, 2.80576067, 2.96788599, 2.74205587, 2.79495843,
       2.70965139, 2.03527877, 2.8176931 , 2.83733814, 2.77852295,
       2.88615647, 2.83236836, 2.81262691, 2.67090978, 2.78071209,
       2.78937878, 2.75339674, 2.72321903, 2.85023515, 2.82730355,
       2.72171519, 2.73604368, 2.7324936 , 2.77964991, 2.07814777,
       2.82402898, 2.88904438, 2.80664133, 2.86487016, 2.76259393,
       2.88940556, 2.78253813, 2.88697269, 2.8391472 , 2.98565228,
       2.89374366, 2.81864775, 2.95669144, 2.19722552, 2.81393682,
       2.16739989, 2.96177594, 2.76525943, 2.75660903, 2.8280849 ,
       2.84246638, 2.79672323, 2.91765193, 2.80283376, 2.81940568,
       2.83708708, 2.80033501, 2.74977618, 2.85825914, 2.71462118,
       2.89949912, 2.88616757, 2.7455847 , 3.6011449 , 2.78604531,
       2.75588985, 2.7584209 , 2.08838863, 2.86247959, 2.81444538,
       2.87236138, 2.86580525, 2.71753899, 2.25562517, 2.65874283,
       2.71781527, 2.79009865, 2.8810694 , 2.84862204, 2.82078314,
       2.11144   , 2.74016313, 2.88592961, 2.8294759 , 2.89445854,
       2.72422427, 2.92933925, 2.88630153, 2.83589117, 2.81049611,
       2.82422814, 2.90320773, 2.72579622, 2.75743267, 2.80990442,
       2.87038181, 2.75513919, 2.78620004, 2.76791685, 2.84533257,
       2.84261344, 2.8059357 , 2.77122299, 2.84007396, 2.82342852,
       2.79401811, 2.70732407, 2.81388469, 2.69079075, 2.83734236,
       2.76443305, 2.00944103, 2.82612589, 2.88251022, 2.84059886,
       2.84413577, 2.89530008, 2.83582987, 2.75220668, 2.78809984,
       2.81388703, 2.80213262, 2.84677942, 2.77111895, 2.29884683,
       2.82788091, 2.86280919, 2.80184489, 2.7776184 , 2.73472148,
       2.94146013, 2.80999626, 2.63426   , 2.68906386])

In [243]:
def prediction(Age(years),Height(cm),Parity,ANC,Iwt(kg),FWt(kg),IBP_sys,IBP_dias,FBP_sys,FBP_dias,IHb(gm%),FHb(gm%),BS(RBS),LNH,Bgroup,Term/Preterm):
    features=np.array([[Age(years),Height(cm),Parity,ANC,Iwt(kg),FWt(kg),IBP_sys,IBP_dias,FBP_sys,FBP_dias,IHb(gm%),FHb(gm%),BS(RBS),LNH,Bgroup,Term/Preterm]])

    transformed_features=preprocessor.transform(features)
    predicted_value=rid.predict(features).reshape(1,-1)
    return predicted_value[0]

SyntaxError: invalid syntax (2030710577.py, line 1)

In [244]:
def prediction(Age_years, Height_cm, Parity, ANC, Iwt_kg, FWt_kg, IBP_sys, IBP_dias, FBP_sys, FBP_dias, IHb_gm, FHb_gm, BS_RBS, LNH, Bgroup, Term_Preterm):
    features = np.array([[Age_years, Height_cm, Parity, ANC, Iwt_kg, FWt_kg, IBP_sys, IBP_dias, FBP_sys, FBP_dias, IHb_gm, FHb_gm, BS_RBS, LNH, Bgroup, Term_Preterm]])

    transformed_features = preprocessor.transform(features)
    predicted_value = rid.predict(transformed_features).reshape(1, -1)
    return predicted_value[0]

In [240]:
X_train

,Age(years),Height(cm),Parity,ANC,Iwt(kg),FWt(kg),IBP_sys,IBP_dias,FBP_sys,FBP_dias,IHb(gm%),FHb(gm%),BS(RBS),LNH,Bgroup,Term/Preterm
829,25.0,150.000000,4.0,3.0,42.000000,50.000000,110.0,60.0,120.0,60.0,9.919398,10.401651,100.898026,2.0,NIL,T
1108,26.0,150.000000,2.0,3.0,40.000000,40.000000,120.0,60.0,120.0,60.0,9.919398,10.401651,100.898026,2.0,NIL,T
940,30.0,180.000000,0.0,3.0,50.000000,55.000000,110.0,60.0,110.0,60.0,9.919398,10.401651,100.898026,2.0,NIL,T
192,18.0,142.000000,0.0,4.0,40.000000,47.000000,110.0,70.0,20.0,80.0,12.000000,11.000000,98.000000,2.0,B(+ve),T
260,28.0,145.000000,0.0,4.0,42.000000,47.000000,110.0,70.0,120.0,70.0,11.500000,12.000000,117.000000,2.0,A(+ve),T
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
835,22.0,150.000000,0.0,3.0,46.000000,50.000000,120.0,60.0,120.0,60.0,9.919398,10.401651,100.898026,2.0,NIL,T
1216,22.0,143.785855,1.0,4.0,45.749857,51.645371,110.0,60.0,110.0,62.0,10.400000,10.000000,100.898026,2.0,NIL,T
1658,28.0,143.785855,2.0,2.0,38.000000,40.000000,100.0,68.0,102.0,70.0,11.000000,11.000000,100.898026,2.0,NIL,T
559,24.0,150.000000,1.0,4.0,47.000000,51.000000,112.0,62.0,122.0,72.0,10.000000,11.000000,100.898026,2.0,NIL,T
684,21.0,120.000000,0.0,4.0,40.000000,65.000000,120.0,60.0,110.0,80.0,10.400000,11.000000,100.898026,2.0,NIL,T

In [245]:
def prediction(Age_years, Height_cm, Parity, ANC, Iwt_kg, FWt_kg, IBP_sys, IBP_dias, FBP_sys, FBP_dias, IHb_gm, FHb_gm, BS_RBS, LNH, Bgroup, Term_Preterm):
    # Create an array of the input features
    features = np.array([[Age_years, Height_cm, Parity, ANC, Iwt_kg, FWt_kg, IBP_sys, IBP_dias, FBP_sys, FBP_dias, IHb_gm, FHb_gm, BS_RBS, LNH, Bgroup, Term_Preterm]], dtype=object)

    # Transform the features using the preprocessor
    transformed_features = preprocessor.transform(features)

    # Make the prediction
    predicted_weight = rid.predict(transformed_features).reshape(1, -1)

    return predicted_weight[0]

# Example usage
Age_years = 30
Height_cm = 160
Parity = 2
ANC = 3
Iwt_kg = 60
FWt_kg = 70
IBP_sys = 120
IBP_dias = 80
FBP_sys = 130
FBP_dias = 85
IHb_gm = 12
FHb_gm = 11
BS_RBS = 90
LNH = 1
Bgroup = 'A(+ve)'
Term_Preterm = 'T'

result = prediction(Age_years, Height_cm, Parity, ANC, Iwt_kg, FWt_kg, IBP_sys, IBP_dias, FBP_sys, FBP_dias, IHb_gm, FHb_gm, BS_RBS, LNH, Bgroup, Term_Preterm)
print(result)

[2.31674173]

C:\Users\Nayani Tharushika\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(
C:\Users\Nayani Tharushika\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(

In [246]:
import pickle
pickle.dump(rid,open('rid.pkl','wb'))
pickle.dump(preprocessor,open('preprocessor.pkl','wb'))

In [247]:
import sklearn
print(sklearn.__version__)

1.4.1.post1